{% extends "internal/p_manager_base.html" %}
{% set active_page = "department" %}
{% set active_module = "procurement" %}




{% block title %}Budget Plan{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">



        <div class="col-6">
          <a href="/procurement/department-setup"><i class="fas fa-arrow-left"></i></a>
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budget Plan</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-3">

        <div class="col-sm-6">
          <h3 id="department_name"></h3>
        </div>


      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- Card -->
          <div class="card card-primary card-outline">
            <!-- Card Header -->
            <div class="card-header">
              <div class="row">
                <div class="col-6
              d-sm-flex
              align-items-center">
                  <h3 class="card-title">Budget Plan</h3>

                </div>

                <div class="col-6
              d-sm-flex
              align-items-center
              justify-content-end">

                  <div class="page-title-right">
                    <button type="button" class="btn btn-success waves-effect waves-light add"
                      onclick="addData()">
                      <i class="fas fa-plus font-size-16 mr-1"></i> Add Budget Plan
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->

            <!-- Card Body -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>Budget</th>
                    <th>Year</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>

      <div class="row my-3">
        <div class="col-3 col-md-12 text-center">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title" id="curr_year"></h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 mr-5">
    
                  <input type="text" class="knob" id="budget_percent" value="100" data-width="150" data-height="150"
                         data-fgColor="#f56954">
        
                         <div class="d-flex justify-content-between my-3">
                           <div>
                             <label>Given Budget</label>
                             <div class="knob-label h5" id="given_budget"></div>
                            </div>
                            <div>
                              <label>
                                Total Spent
                              </label>
                              <div class="knob-label h5" id="total_spent"> </div>
                            </div>
        
                          </div>
                          <div>
                            <label>
                              Remaining:
                            </label>
                          <div class="knob-label h5" id="remaining"> </div>
                                </div>

                </div>

                <div class="col-md-7 ml-4">
                  <!-- STACKED BAR CHART -->
                  <div class="card border-0">
                    <div class="card-header">
                      <h3 class="card-title">Monthly Spent</h3>
        
                    </div>
                    <div class="card-body">
                      <div class="chart">
                        <canvas id="request_per_month_line"
                        style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>

        </div>
      </div>

      </div>

    
    </div>

      
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="{{ url_for('static', path='/plugins/chart.js/Chart.min.js') }}"></script>


<script src="{{ url_for('static', path='/dist/js/procurement/system_setup/budget_plan.js') }}"></script>


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-xl">
  <div class="
          modal-dialog modal-default modal-dialog-centered modal-dialog-scrollable
        ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
            <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Add User</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_id" name="form_id" enctype="multipart/form-data">
          <input class="form-control" type="hidden" id="uuid" name="uuid" readonly>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for="year">Year</label>
            
                <select class="form-control" name="year" id="year" >
                </select>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for="contact_no">Budget</label>
                <input type="number" class="form-control" data-a-sign="P" id="budget" name="budget" placeholder="Budget">
              </div>
            </div>
          </div>

       

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="date_from">From</label>
                <input type="text" class="form-control" id="date_from" name="date_from" placeholder="From" readonly>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for="date_to">To</label>
                <input type="text" class="form-control" id="date_to" name="date_to" placeholder="To" readonly>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal For deleting -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <div>
            <i class="text-secondary fas fa-times-circle mr-1"></i>
          </div>
          <div class="modal-title">Delete Budget Plan</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this Budget?</p>
        <input type="hidden" id="del_uuid" name="del_uuid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" onClick="deleteData2();" class="btn btn-danger">Delete <i
            class="fas fa-times-circle"></i></button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}