{% extends "internal/p_dept_base.html" %}
{% set active_page = "dept_budegts" %}
{% set active_module = "procurement" %}

{% block title %}Budgets{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <!-- Title -->
        <div class="col-sm-6">
          <h3 id="get_year"></h3>
        </div>
        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budegts</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


        <div class="row my-3">
            <div class="col-3 col-md-12 text-center">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">Budget</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 mr-5">
    
                      <input type="text" class="knob" id="budget_percent" value="100" data-width="150" data-height="150"
                             data-fgColor="#f56954">
            
                             <div class="d-flex justify-content-between my-3">
                               <div>
                                 <label>Given Budget</label>
                                 <div class="knob-label h5" id="given_budget"></div>
                                </div>
                                <div>
                                  <label>
                                    Total Spent
                                  </label>
                                  <div class="knob-label h5" id="total_spent"> </div>
                                </div>
            
                              </div>
                              <div>
                                <label>
                                  Remaining:
                                </label>
                              <div class="knob-label h5" id="remaining"> </div>
                                    </div>

                    </div>
    
                    <div class="col-md-7 ml-4">
                      <!-- STACKED LINE CHART -->
                      <div class="card border-0">
                        <div class="card-header">
                          <h3 class="card-title">Monthly Spent</h3>
            
                        </div>
                        <div class="card-body">
                          <div class="chart">
                            <canvas id="request_per_month_line"
                            style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                          </div>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
    
            </div>
          </div>
    
          </div>
    
        
        </div>

      
      
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="{{ url_for('static', path='/plugins/chart.js/Chart.min.js') }}"></script>

<script src="{{ url_for('static', path='/dist/js/procurement/budgets/department_budget.js') }}"></script>



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}