{% extends "internal/p_officer_base.html" %}
{% set active_page = "rfq_for_products" %}
{% set active_module = "procurement" %}


{% block title %}Requst For Quotations{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', path='/plugins/summernote/summernote-bs4.min.css') }}">

<!-- send loader -->
<!-- <div id='loader' style='display: none; position: absolute; left: 50%; top: 10%; z-index: 9999;'>
  <div class="spinner-border text-secondary" style="width: 2.5rem; height: 2.5rem;"></div>
</div> -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">



  <!-- </div> -->
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-5">

        <!-- Title -->
        <div class="col-sm-6">
          <h1>Request For Quotations</h1>
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Request For Quotations</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
      <div class="row">
        <div class="col-md-12">


          <form id="form_id" name="form_id" enctype="multipart/form-data">
            <div class="row" id="div_form">
             
              <div class="col-md-3" id="view_vendor_involved">
                <div class="card card-outline card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Vendors Involved</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
               
                  <div class="card-body" >
                    
                    <ul class="list-group" id="vendor_involved">
                      <!-- <li class="list-group-item">
                        Cras justo odio <br>
                        <strong >Status: </strong>Pending  <br>
                     </li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li> -->
                    </ul>
            

                  </div>
              
                </div>

              </div>
              <div class="col-md-3" id="vendor-list">
            
              </div>


              <div class="col-md-9">
                <div class="card card-outline card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Request for Quotation</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">

                    <div class="form-group row mb-3 ml-2">
                      <div class="col-md-12">

                        <h3 id="rfq_tor">Request for Quotation</h3>
                        <!-- <h3>Terms of Reference</h3> -->
                        <input type="hidden" id="request_quotation_id" name="request_quotation_id">
                      </div>

                    </div>


                    <div class="form-group row ml-2">
                      <div class="col-md-8">
                        <label for="prepared_by">PR Number</label>
                        <div class="form-group row">
                          <!-- <div class="col-md-6" id="view_pr">

                            <h4 id="view_pr_id"></h4>

                          </div> -->

                          <div class="col-md-6 pr_select form-group">

                            <select class="form-control select2 select2-primary"
                              data-dropdown-css-class="select2-primary" id="purchase_requisition_id"
                              name="purchase_requisition_id">
                            </select>
                          </div>

                          <div class="col-md-6 pr_select">

                            <button type="button" class="btn btn-sm btn-success view_pr_button"
                              onclick="viewPR()">
                              <i class="fas fa-eye font-size-16 mr-1"></i>View
                            </button>

                          </div>
                        </div>
                      </div>
                    </div>


                
                      <!-- form -->
                        <!-- your steps content here -->
                          <div class="form-group row ">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="prepared_by">Prepared by</label>
                                <input type="text" class="form-control" id="prepared_by" name="prepared_by" readonly>
                              </div>
                            </div>


                            <div class="col-md-6">
                              <div class="mb-3 form-group">
                                <label for="budget">Budget</label>

                                <div class="mb-3 input-group ">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">&#8369;</span>
                                  </div>
                                  <input type="text" class="form-control" id="budget" name="budget" readonly>
                                </div>

                              </div>
                            </div>
                          </div>


                          <div class="form-group row m-t-10">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="prepared_by">Quotation Code</label>
                                <input type="text" class="form-control" id="quotation_code" name="quotation_code"
                                  readonly>
                              </div>
                            </div>


                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="due_date">Due Date<span class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="due_date" name="due_date">
                              </div>
                            </div>
                          </div>


                       

                          <div class="row">
                            <div class="col-md-12 form-group summernote">
                              <label for="message">Message<span class="text-danger">*</span></label>

                              <textarea class="form-control" id="message" name="message"></textarea>
                            </div>
                          </div>

                          <div class="row mb-5">
                              <div class="col-md-6">
                                
              <h5 class="mt-3">Related Documents</h5>
              <ul class="list-unstyled" id="related_files_body">
                <!-- <div class="d-flex justify-content-between">
                  <li>
                    <a href="" class="btn-link text-dark"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                  </li>
                  <p><i class="text-secondary fas fa-times"></i></p>
                </div> -->
      
              </ul>
              <div class="mt-3 mb-3" id="add-files-button">
                <input id='fileid' type='file' hidden/>
                <input class="btn btn-sm btn-primary" id='buttonid' type='button' value='Add files' />
              </div>
                              </div>
                          </div>
                          <!-- <div id="display-pdf"></div> -->


                        </div>



                    

               
                  <div class="card-footer">

                    <div class="row">
                      <div class="col-md-12 text-right set-btn">
                        <!-- <button type="reset" class="btn btn-default bg-dark" onclick="return clearProducts(0);">Cancel</button> -->
                        <button type="button" class="btn btn-default bg-default"
                          onclick="formReset('hide')">Cancel</button>


                        <button type="submit" class="btn btn-primary submit" id="add-button"
                          onclick="$('#status').val('Pending');">

                          <span id='email_loader' class="spinner-border text-light" role="status"
                            style="width: 1rem; height: 1rem;"></span>

                          <span id="send_email_txt">
                            Submit<i class="fas fa-file-export ml-1"></i>
                          </span>

                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- end col -->
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- Card -->
          <div class="card card-primary card-outline">
            <!-- Card Header -->

            <div class="card-header">
              <div class="row mb-3">
                <div class="col-6
              d-sm-flex
              align-items-center">
                  <h3 class="card-title">Request for Quotations</h3>
                </div>

                <div class="col-6
                d-sm-flex
                align-items-center
                justify-content-end">

                  <div class="page-title-right">
                    <button type="button" class="btn btn-sm btn-success add" onclick="  
                  $('#view_vendor_involved').hide();
                   $('#vendor-list').show();
                    formReset('show');">
                      <i class="fas fa-plus font-size-16 mr-2"></i>Create RFQ
                    </button>
                  </div>

                </div>
              </div>

            </div>
            <!-- /.card-header -->

            <!-- Card Body -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>RFQ Code</th>
                    <th>RFQ No.</th>

                    <th>Created By</th>
                    <th>Created At</th>
                    <th>Status</th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-xl">
  <div class="
        modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
      ">
    <div class="modal-content">
      <div class="modal-header pr">
        <div class="d-flex align-items-center p-2">
          <div>
            <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Purchase Request</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body modal-pr p-5">
        <div class="modal-print">


          <div class="form-group row m-t-10">
            <div class="col-md-7">
              <label>PR Number</label>
              <p id="pr_number"></p>
            </div>
            <div class="col-md-4">
              <label>Status</label>
              <p id="status"></p>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-7">
              <label>Department</label>
              <p id="department"></p>
            </div>
            <div class="col-md-4">
              <label>Requested By</label>
              <p id="requested_by"></p>
            </div>


          </div>

          <div class="form-group row">

            <div class="col-md-7">
              <label>Date Requested</label>
              <p id="date_requested"></p>
            </div>

            <div class="col-md-4">
              <label>Date Approved</label>
              <p id="date_approved"></p>
            </div>

         
          </div>

          <div class="form-group row mb-5">
            <div class="col-md-7">
              <label>Purpose</label>
              <p id="purpose"></p>
            </div>

            <div class="col-md-4">
              <label>Approved By</label>
              <p id="approved_by"></p>
            </div>
          </div>

          <label class="h5">Item Details</label>

          <table id="pr-detail-table" class="table table-hover table-bordered" style="width: 100%;">
            <thead>
              <tr>
                <th>Category</th>
                <th>Product</th>
                <th>Description</th>
                <th>Estimated Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>


          <div class="form-group row my-5">
            <div class="col-md-7">
              <label>Estimated Amount</label>
              <p id="estimated_amount"></p>
            </div>

            <div class="col-md-4">
              <label>Given Budget</label>
              <p id="given_budget"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
     
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->




<!-- Default Modal For updating and deleting -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title cancel-request"> Request</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>


      <div class="modal-body">
        <p class="request-modal-body"> </p>
        
        <input type="hidden" id="uuid" name="uuid">

     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-info" onclick="changeStatus()" id="changeStatus">Cancel Request <i class="fas fa-times-circle ml-1"></i></button>

      </div>
  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-file">
  <div class="
        modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
      ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
            <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">File</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body p-5">
        <iframe id="display_file" src=""
        width="100%" height="500px">
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
   
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->




<script src="{{ url_for('static', path='/plugins/summernote/summernote-bs4.min.js') }}"></script>

<script src="{{ url_for('static', path='/dist/js/procurement/request_quotation/rfq_for_products.js') }}"></script>



<!-- delete -->
<div class="modal fade" id="modal-status">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"> 
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <div >
              <i class="text-secondary fas fa-file mr-1"></i>
          </div>
          <div class="modal-title delete-modal-title"></div>
        </div>
 
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body ">
        <p class="product-modal-body"> </p>
        <input type="hidden" id="del_uuid">

      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="changeStatus()" id="changeStatus">Yes, Deactive it</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}