{% extends "internal/p_officer_base.html" %}
{% set active_page = "vendor_proposals" %}
{% set active_module = "procurement" %}




{% block title %}Vendor Proposals{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<style>
  .select2-selection__rendered {
    line-height: 20px !important;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <!-- Title -->
        <div class="col-sm-6">
          <!-- <h1>Vendor Proposals</h1> -->
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Proposals</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row" id="div_form">
        <div class="col-xl-12">
          <div class="card card-primary card-outline">
            <form id="form_id" name="form_id" enctype="multipart/form-data">
            <div class="card-body">

                <input type="hidden" id="uuid" name="uuid" />
                <input type="hidden" class="form-control" id="status" name="status" readonly />

                <div class="form-group row m-t-10">
                  <div class="col-md-6">
                    <!-- <label>Purchase Requisition</label> -->
                    <h2 id="proposal_rfq_number"></h2>
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-md-6 ">
                    <label>Vendor</label>
                    <h3 id="vendor"></h3>
                  </div>

                  <div class="col-md-6 ">
                    <label>Date</label>
                    <h3 id="proposal_date"></h3>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-md-6 ">
                    <label>Prepared by</label>
                    <p id="prepared_by"></p>
                  </div>
                  <div class="col-md-6">
                    <label>Contact No</label>
                    <p id="contact_no"></p>
            
                  </div>
                </div>


                <div class="form-group row mb-5">
                  <div class="col-md-12">
                    <label>Message</label>
                    <div id="proposal_message" >

                    </div>
                  </div>
                </div>

                <hr />



                <h3 class="pb-3">Proposal Items</h3>

                <div class="form-group row ">
                  <div class="col-md-12 dt-responsive table-responsive">
                    <table id="proposal-items-table" class="table table-hover table-bordered w-100">
                      <thead>
                        <tr>
                     
                          <th>Category</th>
                          <th>Product</th>
                    
                          <th>Product Price</th>
                          <th>Quantity</th>
                          <th>Total Price</th>
                          <th>status</th>

                          <th>Action</th>


                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>



                <div class="row my-5">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-10">
                        <label>Notes</label>
                        <p id="notes"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row my-2">
                      <div class="col-md-6">
                        <label>Subtotal</label>
                      </div>
                      <div class="col-md-6">
                        <p id="subtotal"></p >
                      </div>
                    
                    </div>

         
                    <div class="row my-2">
                      <div class="col-md-6">
                        <label>Tax</label>
                      </div>
                      <div class="col-md-6">
                        <p id="tax"></p>
                      </div>
                 
                    </div>

                    <div class="row my-2">
                      <div class="col-md-6">
                        <label>Discount</label>
                      </div>
                      <div class="col-md-6">
                        <p id="discount"></p>
                      </div>
                   
                    </div>



                    <hr />

                    <div class="row my-2">
                      <div class="col-md-6 form-group ">
                        <h5>Total:</h5>
                      </div>
                      <div class="col-md-3 form-group ">
                        <h5 id="total"></h5>
                      </div>
                      <!-- <div class="input-group mb-3 col-md-9">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&#8369;</span>
                        </div>
                        <input type="number" class="form-control" id="total" name="total" readonly />
                      </div> -->
                    </div>

                  </div>

                </div>

                <div class="row mt-5 mb-3">
                  <div class="col-md-4">
                    <h4 class="proposal-status"></h4>
                  </div>
                </div>
                      </div>
              <!-- end card body -->
                      <div class="card-footer">

                     
                <div class="row">

                  <div class="col-md-12 text-right set-btn">
                    <button type="button" class="btn btn-default bg-default"
                      onclick="formReset('hide')">Cancel</button>



                    <button type="submit" class="btn btn-primary submit" id="add-button"
                      onclick="$('#status').val('Awarded');">
                      Award Vendor
                    </button>

                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- Card -->
          <div class="card card-primary card-outline card-tabs">
            <!-- Card Header -->
            <div class="card-header p-0 pt-1 border-bottom-0">

              <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="proposals-tab" data-toggle="tab"
                    href="#proposals" role="tab" aria-controls="proposals"
                    aria-selected="true">Proposals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="proposal-comparisons-tab" data-toggle="tab"
                    href="#proposal-comparisons" role="tab" aria-controls="proposal-comparisons"
                    aria-selected="false">Price Comparisons</a>
                </li>

              </ul>
            </div>
            <!-- /.card-header -->

            <!-- Card Body -->
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-three-tabContent">
                <div class="tab-pane fade show active" id="proposals" role="tabpanel"
                  aria-labelledby="proposals-tab">


                  <table id="data-table" class="table table-hover table-bordered w-100">
                    <thead>
                      <tr>
                        <th>Proposal Date</th>
                        <th>Rfq Code</th>
                        <th>Vendor</th>
                        <th>Prepared by</th>
                        <th>Contact No</th>
                        <th>Total Amount</th>

                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>

                <div class="tab-pane fade" id="proposal-comparisons" role="tabpanel"
                  aria-labelledby="proposal-comparisons-tab">
                  <div class="row mb-3">
                    <div class="col-md-4" id="table-filter">
                      RFQ Code:
                      <select class="select2" id="rfq_code" name="rfq_code">

                      </select>
                    </div>
                  </div>
                  <table id="data-table-comparisons" class="table table-bordered table-hover w-100">
                    <thead>
                      <tr>
                        <!-- <th></th> -->
                        <th>RFQ Code</th>
                        <th>Company Name</th>
                        <th>Subtotal</th>
                        <th>Discount</th>
                        <th>Tax</th>
                        <th>Total</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- <i class="expandable-table-caret fas fa-caret-right fa-fw"></i> -->

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-xl">
  <div class="
        modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
      ">
    <div class="modal-content">
      <div class="modal-header pr">
        <div class="d-flex align-items-center p-2">
          <div>
            <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Request For Quotation</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body modal-pr p-5">
    

          <div class="form-group row mb-3 ">
            <div class="col-md-12">

              <h3 id="rfq_number"></h3>
              <!-- <h3>Terms of Reference</h3> -->
            </div>

          </div>
        

         
            <!-- form -->
              <!-- your steps content here -->
                <div class="form-group row ">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="rfq_prepared_by">Prepared by</label>
                      <input type="text" class="form-control" id="rfq_prepared_by" name="rfq_prepared_by" readonly>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="mb-3 form-group">
                      <label for="rfq_budget">Budget</label>

                      <div class="mb-3 input-group ">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&#8369;</span>
                        </div>
                        <input type="text" class="form-control" id="rfq_budget" name="rfq_budget" readonly>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="form-group row m-t-10">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="prepared_by">Quotation Code</label>
                      <input type="text" class="form-control" id="rfq_quotation_code" name="rfq_quotation_code"
                        readonly>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="due_date">Due Date</label>
                      <input type="text" class="form-control" id="rfq_due_date" name="rfq_due_date" readonly>
                    </div>
                  </div>
                </div>


                <div class="row my-5">
                  <div class="col-md-12">
                    <h3>Item Details</h3>
                    <table id="rfq-detail-table" class="table table-hover table-bordered" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Item</th>
                          <th>Description</th>
                          <th>Estimated Price</th>
                          <th>Quantity</th>
                          <th>Estimated Total</th>


                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>

                  </div>
                </div>
               

                <div class="row mb-5">
                  <div class="col-md-12">
                    <label for="rfq_message">Message</label>

                    <div id="rfq_message" name="rfq_message"></div>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    
            <h5 class="mt-3">Related Documents</h5>
            <ul class="list-unstyled" id="rfq_related_files_body">
            

            </ul>
 
                  </div>
              </div>

        
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
    
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->


<div class="modal fade" id="modal-add-new-product" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="
  modal-dialog modal-dialog-centered modal-dialog-scrollable
">
    <form class="modal-content" id="product_modal_form">
      <div class="modal-header">
        <h4 class="modal-title">View Product</h4>

        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>

      <div class="modal-body">
        <input class="form-control" type="hidden" id="new_item_uuid" name="new_item_uuid" />

   



        <div class="form-group row">
          <div class="col-md-12">
            <label>Product Category</label>
            <input class="form-control" type="text" id="category_id" name="category_id" />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label>Product Name</label>
            <input class="form-control" type="text" id="new_item_name" name="new_item_name" />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label>Product Description</label>
            <textarea class="form-control" id="new_item_description" name="new_item_description"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label>Product Price</label>
            <input class="form-control" type="number" min="1" value="1" id="new_item_price" name="new_item_price" />
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-12">
            <label>Quantity</label>
            <input class="form-control" type="number" min="1" value="1" id="new_item_quantity"
              name="new_item_quantity" />
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>

      </div>

      <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
  </div>
</div>


<!-- modal for delete -->
<div class="modal fade" id="modal-status">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Deny</h4>
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to deny this proposal? </p>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id='changeStatus'>Yes, deny it</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script src="{{ url_for('static', path='/dist/js/procurement/vendor_management/vendor_proposals.js') }}"></script>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}