{% extends "internal/p_admin_base.html" %}
{% set active_page = "employee" %}
{% set active_module = "procurement" %}




{% block title %}Employee{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <!-- Title -->
        <div class="col-sm-6">
          <h1>Employee</h1>
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Employee</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
    

      <div class="row">
        <div class="col-md-12">
          <!-- Card -->
          <div class="card card-primary card-outline">
            <!-- Card Header -->
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-6
                  d-sm-flex
                  align-items-center">
                      <h3 class="card-title">List of Employees</h3>
                    </div>
    
                    <div class="col-6
                    d-sm-flex
                    align-items-center
                    justify-content-end">
    
                      <div class="page-title-right">
                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light" onclick="return addData()" data-toggle="modal"
                        data-target="#modal-xl">
                        <i class="fas fa-plus font-size-16 mr-2"></i> Add Employee
                      </button>
                      </div>
    
                    </div>
                  </div>
                
                </div>
            <!-- /.card-header -->

            <!-- Card Body -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Employee Type</th>
                    <th>Contact No.</th>
                    <!-- <th>Email</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>


    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="{{ url_for('static', path='/dist/js/procurement/employee_management/employee.js') }}"></script>


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-xl">
  <div class="
          modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
        ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
              <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Add Employee</div>
        </div>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_id" name="form_id" enctype="multipart/form-data">
          <div class="row">

            <input class="form-control" type="hidden" id="uuid" name="uuid" readonly>

            <div class="col-md-4">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="middle_name">Middle Name</label>
                <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Middle Name">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="birhtdate">Birthdate</label>
                <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Birthdate">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="contact_no">Contact No</label>
                <input type="text" class="form-control" id="contact_no" name="contact_no" placeholder="Contact No">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="department_id">Department</label>
                <select class="form-control select2 select2-primary" data-dropdown-css-class="select2-primary" id="department_id"
                name="department_id" style="width:100%"
                >
            
             </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="employee_type_id">Employee Type</label>
                <select class="form-control select2 select2-primary" data-dropdown-css-class="select2-primary" id="employee_type_id"
                name="employee_type_id" style="width:100%">
            
             </select>
              </div>
            </div>

    

          </div>

        
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Default Modal For deleting -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <div >
              <i class="text-secondary fas fa-times-circle mr-1"></i>
          </div>
          <div class="modal-title">Delete Employee</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this employee type?</p>
        <input type="hidden" id="del_uuid" name="del_uuid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" onClick="deleteData2();" class="btn btn-danger">Delete <i class="fas fa-times-circle"></i></button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}