{% extends "internal/p_manager_base.html" %}
{% set active_page = "list_of_po" %}
{% set active_module = "procurement" %}



{% block title %}PO Reports{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content  %}

       <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          
          <!-- Title -->
          <div class="col-sm-6">
            <h1>List of Purchase Order</h1>
          </div>

          <!-- Breadcrumb -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Purchase Order</li>
            </ol>
          </div>
          <!-- / breadcrumb -->

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">
            <!-- Card -->
            <div class="card card-primary card-outline">
              <!-- Card Header -->
              <div class="card-header">
                <div class="row mb-3">
                  <div class="col-6
                d-sm-flex
                align-items-center">
                    <h3 class="card-title">Purchase Orders</h3>
                  </div>
  
         
                </div>
  
              </div>
              <!-- /.card-header -->
              <!-- Card Body -->
              <div class="card-body">
                <input type="hidden" id="start_date" name="start_date">
                <input type="hidden" id="end_date" name="end_date">
                <div class="form-group row justify-content-end">
                  <div class="col-md-4">

                  <button type="button" class="btn btn-default float-right" id="reservation">
                    <i class="far fa-calendar-alt"></i> <span id="reportrange">
                     Filter Date
                    </span> 
                    <i class="fas fa-caret-down"></i>
                  </button> 
                </div>              

                  <div class="col-md-2">
                    <select class="form-control float-right" name="po_status" id="po_status">
                      <option value="">All Status</option>
                      <option value="Pending">Pending</option>
                      <option value="Confirmed">Confirmed</option>
                      <option value="Cancelled">Cancelled</option>

                    </select>
                  </div>              
                </div>
                <table id="data-table-orders" class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>PO No.</th>
                      <th>Vendor</th>
                      <th>Order Date</th>
                      <th>Expected Delivery Date</th>
                      <th>Payment Method</th>
                      <th>Total</th>
                      <th>Status</th>
                      <th>Action</th>
  
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
          
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <script src="{{ url_for('static', path='/dist/js/procurement/purchase_order/po_reports.js') }}"></script>


  <!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-print">
  <div class="
          modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
        ">
    <div class="modal-content pr-report-modal-content">
 
      <div class="modal-header pr-report-modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
              <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Purchase Order</div>
        </div>
        <!-- <h4 class="modal-title">Purchase Request</h4> -->
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body pr-report-modal-body modal-po p-5" id="modal-po">

        <div class="row">
          <div class="col-md-6">
            <h1 id="po_number"></h1>

          </div>
        </div>

        <div class="row my-4">
          <div class="col-md-6">
            <label>Order Date</label>

            <input type="text" class="form-control" id="order_date">
          </div>
    
          <div class="col-md-6">
            <label>Expected Delivery Date</label>

            <input type="date" class="form-control" id="expected_delivery_date" name="expected_delivery_date">

          </div>
        </div>

        <div class="row my-4">
          <div class="col-md-4">
            <label>Payment Method</label>

                <select name="payment_method" class="form-control select2" id="payment_method">

                </select>
          </div>
    
          <div class="col-md-4">
            <label>Payment Terms</label>
          <select name="payment_terms" class="form-control select2" id="payment_terms">
                  
                </select>
          </div>

          <div class="col-md-4">
            <label>Shipment Method</label>
          <select name="shipment_method" class="form-control" id="shipment_method">
                <option value="Full Shipment">Full Shipment</option>
                <option value="Partial Shipment">Partial Shipment</option>

                </select>
          </div>
        </div>
       

        <hr />

        <div class="form-group row my-5">
          <div class="col-md-12 dt-responsive table-responsive">
            <table id="po-detail-table" class="table table-hoverable table-bordered w-100">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Product Name</th>
                  <th>Price Per Unit</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-10">
                <label>Notes</label>
                <textarea class="form-control" name="po_notes" id="po_notes" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row my-2">
              <div class="col-md-6">
                <label>Subtotal</label>
              </div>
              <div class="col-md-6">

                <span class="d-flex"> &#8369;<p id="po_subtotal"></p></span>

                <!-- <input class="form-control" id="" name=""  /> -->
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-6">
                <label>Tax</label>
              </div>
              <div class="col-md-6">
                <span class="d-flex"> &#8369;<p id="po_tax"></p></span>
              </div>
            </div>


            <div class="row my-2">
              <div class="col-md-6">
                <label>Discount</label>
              </div>
              <div class="col-md-6">
                <span class="d-flex"> &#8369;<p id="po_discount"></p></span>
              </div>
            </div>

            


            <hr />

            <div class="row my-2">
              <div class="col-md-6">
                <h5>Total</h5>
              </div>
              <div class="col-md-6">
                <span class="d-flex"> &#8369;<p id="po_total"></p></span>
              </div>
            </div>

          </div>

        </div>


      </div>
      <div class="modal-footer pr-report-modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary print">
          Print
          <i class="fas fa-print ml-1"></i>
        </button>
      </div>
    </div>
 
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
