{% extends "internal/p_manager_base.html" %}
{% set active_page = "purchase_order_list" %}
{% set active_module = "procurement" %}



{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content  %}

       <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          
          <!-- Title -->
          <div class="col-sm-6">
            <h1>Purchase Order List</h1>
          </div>

          <!-- Breadcrumb -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">Fixed Layout</li>
            </ol>
          </div>
          <!-- / breadcrumb -->

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">
            <!-- Card -->
            <div class="card card-primary card-outline">
              <!-- Card Header -->
              <div class="card-header">
                <div class="row mb-3">
                  <div class="col-6
                d-sm-flex
                align-items-center">
                    <h3 class="card-title">Purchase Orders</h3>
                  </div>
  
         
                </div>
  
              </div>
              <!-- /.card-header -->
              <!-- Card Body -->
              <div class="card-body">
                <table id="data-table-orders" class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>PO No.</th>
                      <th>Vendor</th>
                      <th>Order Date</th>
                      <th>Expected Delivery Date</th>
                      <th>Payment Method</th>
                      <th>Total</th>
                      <th>Status</th>
                      <th>Action</th>
  
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
          
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <script src="{{ url_for('static', path='/dist/js/procurement/purchase_order/purchase_order.js') }}"></script>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
