<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="FastAPI Starter">
  <meta name="author" content="Shinichi Okada">

  <title>{% block title %}{% endblock %} | Hospital Management System</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ url_for('static', path='/plugins/fontawesome-free/css/all.min.css') }}">

  <!-- overlayScrollbars -->
  <link rel="stylesheet"
    href="{{ url_for('static', path='//plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">



  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', path='//dist/css/adminlte.min.css') }}">

    <!-- Toastr -->
    <link rel="stylesheet" href="{{ url_for('static', path='/plugins/toastr/toastr.min.css') }}">

    <!-- jQuery -->
    <script src="{{ url_for('static', path='/plugins/jquery/jquery.min.js') }}"></script>


      <!-- DataTables -->
  <link rel="stylesheet"
  href="{{ url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('static', path='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
   
    <!-- jquery-validation -->
   <script src="{{ url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
   <script src="{{ url_for('static', path='/plugins/jquery-validation/additional-methods.min.js') }}"></script>
   
   <!-- date formatter -->
   <script src="{{ url_for('static', path='/plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', path='/plugins/moment/moment-with-locales.min.js') }}"></script>


   <!-- select2 -->
   
   <link rel="stylesheet" href="{{ url_for('static', path='/plugins/select2/css/select2.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', path='/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
   <!-- <script src="{{ url_for('static', path='/plugins/select2/js/select2.min.js') }}"></script> -->


  <!-- BS Stepper -->
  <link rel="stylesheet" href="{{ url_for('static', path='/plugins/bs-stepper/css/bs-stepper.min.css') }}" />
   
<script src="{{ url_for('static', path='/plugins/select2/js/select2.full.min.js') }}"></script>


   <script src="{{ url_for('static', path='/dist/js/vendor_side/common.js') }}"></script>

  {% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed user-select-none">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status" style="width: 2.5rem; height: 2.5rem;"></div>
    </div>

    

    <!-- Top Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
      <!-- /.navbar-nav -->

          <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
 
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" id="notif_dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge" id="new_notif"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="notif_body">
           
          </div>
        </li>

          
    <!-- User Menu -->
    <li class="nav-item dropdown">
        <a href="#" class="nav-link" data-toggle="dropdown" role="button">
            <i class="fas fa-user-circle"></i>
            <!-- <span class="badge badge-warning navbar-badge">15</span> -->
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a href="/vendor/account/" class="dropdown-item d-flex align-items-center">
                <div class="mr-3" style="width: 1.25rem">
                    <i class="fas fa-user"></i>
                </div>
                <span>Profile</span>
            </a>
            <a href="#" class="dropdown-item d-flex align-items-center">
                <div class="mr-3" style="width: 1.25rem">
                    <i class="fas fa-cog"></i>
                </div>
                <span>Settings</span>
            </a>

            <div class="dropdown-divider"></div>
            
            <a
                href="#"
                role="button" 
                class="dropdown-item d-flex align-items-center" 
                data-toggle="modal" 
                data-target="#logoutModal"
            >
                <div class="mr-3" style="width: 1.25rem">
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>Log out</span>
            </a>
        </div>
    </li>
</ul>

    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

      <!-- Brand Logo -->
      <a href="" class="brand-link">
        <img src="{{ url_for('static', path='/dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo"
          class="brand-image img-circle border" style="opacity: .8">
        <span class="brand-text font-weight-light">Homies Vendor</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">

        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{{ url_for('static', path='/dist/img/boxed-bg.jpg') }}" id="vendor_logo" style="height: 50px; width: 50px;" class="img-circle border"
              alt="User Image">
          </div>
             <!-- User Full Name -->
             <div class="info mr-1 w-100" id="userFullNameDisplay">
              
              <!-- Vendor Name -->
              <a href="#" class="nav-item text-truncate" id="vendorName"></a>

              <!-- Vendor Category vendorIndustry-->
              <!-- <div class="small text-secondary text-truncate" id="">Construction</div> -->
              
              <!-- User Department -->
              <!-- <div class="small text-secondary text-truncate" id="vendorStatus"></div> -->
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-header">CORE</li>

            <li class="nav-item">
              <a href="/vendor/dashboard/" class="{{ 'nav-link active' if active_page == 'dashboard' else 'nav-link' }}">
                  <i class="nav-icon fas fa-chart-line"></i>
                  <p>Dashboard</p>

                </a>
            </li>
            <li class="nav-header">REQUEST FOR QUOTATIONS</li>

            <li class="nav-item">
              <a href="/vendor/quotations-products/" class="{{ 'nav-link active' if active_page == 'product_quotations' else 'nav-link' }}">
                <i class="nav-icon fas fa-paste"></i>
                <p>Request For Quotations</p>
              </a>
            </li>
            <li class="nav-item">
              <!-- /vendor/quotations-services/ -->
              <a href="/vendor/terms-of-reference/" class="{{ 'nav-link active' if active_page == 'service_quotations' else 'nav-link' }}">
                <i class="nav-icon fas fa-paste"></i>
                <p>Projects - Terms of References</p>

              </a>
            </li>

      
 
            <li class="nav-header">PROPOSALS</li>

            <li class="nav-item">
                <a href="/vendor/proposals/" class="{{ 'nav-link active' if active_page == 'proposals' else 'nav-link' }}">
                  <i class="nav-icon fas fa-paste"></i>
                  <p>
                    <p>Proposals</p>
  
                    <!-- <span class="right badge badge-primary">99+</span> -->
                  </p>
                </a>
              </li>

    

              <li class="nav-header">ORDERS</li>
        
              <li class="nav-item">
                <a href="/vendor/list-of-orders/" class="{{ 'nav-link active' if active_page == 'orders' else 'nav-link' }}">
                  <i class="nav-icon fas fa-truck"></i>
                  <p>
                    <p>Orders</p>
  
                    <!-- <span class="right badge badge-primary">99+</span> -->
                  </p>
                </a>
              </li>

              <li class="nav-header">INVOICE</li>
        
              <li class="nav-item">
                <a href="/vendor/invoice/" class="{{ 'nav-link active' if active_page == 'invoice' else 'nav-link' }}">
                  <i class="nav-icon fas fa-file-invoice"></i>
                  <p>
                    <p>Invoice</p>
  
                    <!-- <span class="right badge badge-primary">99+</span> -->
                  </p>
                </a>
              </li>

              <li class="nav-header">REPLACEMENTS</li>
        
              <li class="nav-item">
                <a href="/vendor/replacement-request" class="{{ 'nav-link active' if active_page == 'returns' else 'nav-link' }}">
                  <i class="nav-icon fas fa-retweet"></i>
                  <p>
                    <p>Replacements Request</p>
  
                    <!-- <span class="right badge badge-primary">99+</span> -->
                  </p>
                </a>
              </li>

              <!-- <li class="nav-header">REVIEWS</li>
              <li class="nav-item">
                <a href="/vendor/reviews/" class="{{ 'nav-link active' if active_page == 'reviews' else 'nav-link' }}">
                  <i class="nav-icon fas fa-star"></i>
                  <p>
                    <p>Reviews and Feedbacks</p>
  
                  </p>
                </a>
              </li> -->

         
  
            
      
          </ul>
        </nav>
        <!-- /.sidebar-menu -->

      </div>
      <!-- /.sidebar -->

      <!-- Sidebar Custom -->
      <div class="sidebar-custom">
        <a href="#" class="btn btn-link text-secondary"><i class="fas fa-cogs"></i></a>
        <button
        class="btn btn-sm btn-danger hide-on-collapse pos-right"
        data-toggle="modal"
        data-target="#logoutModal"
    >
        <span>Log out</span>
        <i class="fas fa-sign-out-alt ml-1"></i>
    </button>
      </div>
      <!-- /.sidebar-custom -->
    </aside>
    <!-- /.main-sidebar -->


    {% block content %}

    {% endblock %}

    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.1.0
      </div>
      <strong>Copyright &copy; 2021 <a href="#">HMS</a>.</strong> All rights reserved.
    </footer>
    <!-- /.main-footer -->
  </div>
  <!-- ./wrapper -->

  
    <!-- Log Out Modal -->
    <div class="modal fade" id="logoutModal">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <div class="d-flex align-items-center">
              <div >
                  <i class="text-secondary fas fa-sign-out-alt mr-1"></i>
              </div>
              <div class="modal-title">Logout</div>
            </div> 
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button type="button" onClick="logout();" class="btn btn-danger">Logout <i class="fas fa-sign-out-alt ml-1"></i></button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-notif">
  <div class="
        modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
      ">
    <div class="modal-content">
      <div class="modal-header pr">
        <div class="d-flex align-items-center p-2">
          <div>
            <i class="text-secondary fas fa-bell mr-2"></i>
          </div>
          <div class="modal-title">Notifications</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body modal-pr p-5">
       

          <h3>All Notifications</h3>

          <table id="notifications-table" class="table table-hover table-bordered" style="width: 100%;">
            <thead>
              <tr>
                <!-- <th>Title</th> -->
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
       
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
    
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->


  {% block scripts %}
<!-- Toastr -->
<script src="{{ url_for('static', path='/plugins/toastr/toastr.min.js') }}"></script>

  <!-- Bootstrap 4 -->
  <script src="{{ url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- overlayScrollbars -->
  <script src="{{ url_for('static', path='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
  <!-- DataTables  & Plugins -->
  <script src="{{ url_for('static', path='/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }} "></script>
  <script src="{{ url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script
    src="{{ url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }} "></script>
  <script src="{{ url_for('static', path='/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', path='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', path='/plugins/jszip/jszip.min.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', path='/plugins/pdfmake/pdfmake.min.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', path='/plugins/pdfmake/vfs_fonts.js') }}"></script> -->
  <script src="{{ url_for('static', path='/plugins/datatables-buttons/js/buttons.html5.min.js') }} "></script>
  <script src="{{ url_for('static', path='/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', path='/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
  <!-- AdminLTE App -->
  <script src="{{ url_for('static', path='/dist/js/adminlte.min.js') }}"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{{ url_for('static', path='/dist/js/demo.js') }}"></script>

   <!-- BS-Stepper -->
   <script src="{{ url_for('static', path='/plugins/bs-stepper/js/bs-stepper.min.js') }}"></script>
  <script>
    $(() => {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

  {% endblock %}


</body>

</html>